{% extends "dashboard.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 white-box box_margin_dashboards fixed_height">
      <h2>{{ g.project.name }} </h2>

      {% for scenario_id, scenario_name in g.cycle_scenarios | dictsort %}
      <div class="panel-group" role="tablist">
         <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapseListGroupHeading_st_{{scenario_id}}">
              <h4 class="panel-title">
              <a href="#collapseListGroup1_st_{{scenario_id}}" class="collapsed" role="button"
                data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1_st_{{scenario_id}}">
                 {{_('Scenario name')}} : {{ scenario_name}}
                </a>
               </h4>
            </div>
            <div class="panel-collapse collapse" role="tabpanel"
              id="collapseListGroup1_st_{{scenario_id}}" aria-labelledby="collapseListGroupHeading_st_{{scenario_id}}"
               aria-expanded="false" style="height: 0px;">
               <ul class="list-group">
                 {% for case_id, case_name in g.cycle_cases | dictsort %}
                 <li class="list-group-item">{{case_name}}
                    <span class="cycle_icons_status">
                     <i class="fa fa-check-square-o" aria-hidden="true"></i>
                     <i class="fa fa-times" aria-hidden="true"></i>
                     <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                   </span>
                 </li>
                 {% endfor %}
               </ul>
             </div>
          </div>
        </div>
        {% endfor %}

    </div>
  <div class="clearfix hidden-sm-up"></div>
  {% if g.project.has_cycle %}
    {% include 'cycle/stat_widget.html' %}
  {% endif %}
</div>
{% endblock %}
