{% if g.project.has_cycle%}
<div class="white-box">
  {% if g.current_cycle.state_code == "ACTIVE" %}
  <form class="text-align-center" action="{{ url_for('cycle.close', project_id=g.project.id, cycle_id=g.current_cycle.id) }}" method="post" name="create">
    <input type="submit" class="button width-100" value="{{ _('Close Cycle') }}">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  </form>
  {% else %}

  <h5> {{_('Cycle end date:')}} : {{g.current_cycle.closed_at}} </h5><br>
  <form action="{{ url_for('cycle.create', project_id=g.project.id) }}" method="post" name="create">
    <input type="submit" class="button width-100" value="{{ _('Create Cycle') }}">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  </form>
  {% endif %}

</div>
{% endif %}
