{% if g.project_cycle%}
<div class="white-box">
  {% if g.project_cycle.state_code != "ACTIVE" %}
  <form action="{{ url_for('cycle.create', project_id=g.project.id) }}" method="post" name="create" class="text-align-center">
    <input type="submit" class="button width-100" value="{{ _('Create Cycle') }}">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
  </form>
  {% else %}
  <a class="button a-button text-align-center width-100"
   href="{{ url_for('cycle.show', project_id=g.project.id, cycle_id=g.project_cycle.id)}}">
     {{ _('Access Current Cycle') }} </a>
  {% endif %}
</div>
{% endif %}
