{% extends "dashboard.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 white-box box_margin_dashboards fixed_height">
      <h2>{{ g.project.name }} </h2>

      {% for scenario in g.cycle_history_formated %}
      <div class="panel-group" role="tablist">
         <div class="panel panel-default">
           <a href="#collapseListGroup1_st_{{scenario['id']}}" class="collapsed" role="button"
             data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1_st_{{scenario['id']}}">
            <div class="panel-heading" role="tab" id="collapseListGroupHeading_st_{{scenario['id']}}">
              <h5 class="panel-title">

                 {{_('Scenario name')}} : {{ scenario['name']}}

               </h5>
            </div>
            </a>
            <div class="panel-collapse collapse cycle_cases" role="tabpanel"
              id="collapseListGroup1_st_{{scenario['id']}}" aria-labelledby="collapseListGroupHeading_st_{{scenario['id']}}"
               aria-expanded="false" style="height: 0px;">
               <ul class="list-group">
                 <meta name="csrf-token" content="{{ csrf_token() }}">
                 {% for case in scenario['cases'] %}
                 <li class="list-group-item">{{case['name']}}
                    <span class="cycle_icons_status">
                     <i id="PASSED_case_id_{{case['id']}}"
                      class="fa fa-check-square {% if case['state_code'] == 'PASSED'%} {{case['state_code']}}{% endif %}" aria-hidden="true"
                     onclick="change_case_status_for_cycle_history({{case['id']}},'PASSED', {{g.project_cycle.id}})"></i>
                     <i id="ERROR_case_id_{{case['id']}}"
                     class="fa fa-times-circle {% if case['state_code'] == 'ERROR'%} {{case['state_code']}}{% endif %}" aria-hidden="true"
                     onclick="change_case_status_for_cycle_history({{case['id']}},'ERROR', {{g.project_cycle.id}})"></i>
                     <i id="BLOCKED_case_id_{{case['id']}}"
                      class="fa fa-exclamation-triangle {% if case['state_code'] == 'BLOCKED'%} {{case['state_code']}}{% endif %}" aria-hidden="true"
                     onclick="change_case_status_for_cycle_history({{case['id']}},'BLOCKED', {{g.project_cycle.id}})"></i>
                   </span>
                 </li>
                 {% endfor %}
               </ul>
             </div>
          </div>
        </div>
        {% endfor %}

    </div>
  <div class="clearfix hidden-sm-up"></div>
  <div class="col-md-3 box_margin_dashboards">
    {% if g.project_cycle %}
      {% include 'cycle/cases_status_widget.html' %}
      {% include 'cycle/status_inside_widget.html' %}
    {% endif %}
  </div>
</div>

{% endblock %}
