{% extends "dashboard.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-4 col-sm-2"></div>
  <form action="" method="post" name="new">
    {{ form.hidden_tag() }}
    <div class="col-xs-10 col-sm-8">
      <div class="white-box">
        <h1> {{ _('New Test Scenario')}} </h1>
        <h3> {{ _('for project')}} {{g.project.name}}</h3>
        {{ form.tst_scenario(placeholder= _('Enter your Test Scenario') ) }}
        {% for error in form.tst_scenario.errors %}
            <div class="error_msg">[{{ error }}]</div>
        {% endfor %}<br>
      </div>
      <div class="white-box">
        <h2>{{ _('Test Cases for your Test Scenario' )}} </h2>

        <div class="repeat">
          <table class="wrapper">
            <thead>
              <tr>
                <td>
                  <input type="text" name="tst_case"
                  placeholder="{{_('Specify your Test Case')}}"/>
                </td>
                <td width="10%"></td>
              <tr>
            <tbody class="container">
            <tr class="template row">
                <td>
                    <input type="text" name="tst_case[_row-count-placeholder_]"
                    placeholder="{{_('Specify your Test Case')}}"/>
                </td>
                <td width="10%"><span class="remove btn btn-danger">
                  <i class="fa fa-times 2x" aria-hidden="true"></i>
                </span></td>
            </tr>
            </tbody>
            </tfoot>
            <tr>
                <td width="10%" colspan="4">
                  <span class="add btn btn-success" id="add_more_tst"
                   onClick="document.getElementById('add_more_tst').scrollIntoView();">
                    <i class="fa fa-plus"></i>
                    Add more cases
                  </span></td>
            </tr>
            </tfoot>
          </table>
        </div>
        <hr class="form_divider">
        <input type="submit" class="button scroll" value="{{ _('Create Scenario') }}"></p>
        </div>
    </div>
  </form>
  <div class="clearfix hidden-sm-up"></div>
  <div class="col-xs-4 col-sm-2"></div>
</div>
{% endblock %}
