/* HTML Elements */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
a, a:hover, a:visited, a:active, a:link{
  text-decoration: none;
  color: #11252f;
  bottom: 10vh;
  font-weight: 400;
  cursor: pointer;
}

html,body {
    margin: 0;
    padding: 0;
}

h2 {
  margin-bottom: 20px;
}


body{
  background-color: #96A7BB;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 20px;
  background: -webkit-linear-gradient(left top, #96A7BB, #336799);
  background: -o-linear-gradient(bottom right, #96A7BB, #336799);
  background: -moz-linear-gradient(bottom right, #66cdcc, #96A7BB);
  background: linear-gradient(to bottom right, #96A7BB, #336799);
  }

  .logo_login{
    width: 220px;
  }

.white-box{
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 25px;
  margin-bottom: 25px;
}

.box_margin_dashboards{
  margin: 0px 0px 25px 25px;
}

.fixed_height{
   height: 80%;
   overflow: auto;
}

.form-buttons{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  text-align: center;
}

.button{
  font-size: 22px;
  font-family: Lato, sans-serif;
  border: none;
  color: white;
  padding: 0px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #96A7BB;
  font-weight: 200;
  width: 60%;
}

input[type="reset"]{
  background-color: #96A7BB;
}


.login-form{
  width: 360px;
  height: auto;
  margin-top: 29px;
}

.login-inside-box{
  margin: 0;
  text-align: center;
}

input {
  font-size: 20px;
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
  background: transparent;
  border: none;
  box-shadow: inset 0 -0.5vh rgba(150, 167, 187, 0.62);
  outline: none;
  font-weight: 200;
}

textarea{
  font-size: 30px;
    width: 90%;
    height: 115px;
    margin-bottom: 13.0469px;
    border: none;
    box-shadow: rgba(150, 167, 187, 0.619608) 0px -0.5vh inset;
    outline: none;
    margin-top: 0px;
    height: 3em;
    resize: none;
    font-weight: 200;
}

.navbar-nav-select{
    padding:12px;
    margin-top: 8px;
    margin-right: 14px;
    background: #f8f8f8;
    outline:none;
    display: inline-block;
    cursor:pointer;
    float: left;
    width: 217px;
}

.dropbox-nav{
  margin-left: 20px;
  margin-right: 20px;
}
/* Commom Classes that doesnt depend the screen size */

.error_msg{
  color: red;
  font-size: 17px;
}

.nav-logo{
  margin-right: 100px;
  margin-left: 7px;
  padding-top: 3px !important;
  padding-bottom: 0px !important;

}

.logo_menu{
  width: 150px;
}



.a-button, .a-button:hover, .a-button:visited, .a-button:focus, .a-button:link {
  padding: 10px 20px;
  color: white;
  font-weight: 200;
}

.scenarios_col{
  border-right: 1px solid;
  padding-right: 30px;
}

.display_item_box{
    background-color: #FAFAFA;
    border: 1px solid #949596;
    padding: 10px 0px 10px 5px;
    margin-top: -1px;
    margin-left: 1px;
}

.edit_icons{
  text-align: right;
}

.show{
  display: inline-block !important;
}

.hidden{
  display: none;
}

.current{
  background-color: rgb(95, 130, 166);
  color: white !important;
}

.fa-angle-double-right .current{
  padding-right: 6px;
}


.cycle_icons_status{
  float: right;
  font-size: 20px !important;
}

.cycle_icons_status > i{
    padding: 4px;
}

.cycle_cases{
  font-size: 15px;
}

 .fa-check-square, .fa-times-circle, .fa-exclamation-triangle{
   cursor: pointer;
 }

 .PASSED{
   color: green;
 }

.ERROR{
  color: red;
}

.BLOCKED{
  color: darkorange;
}

.text-align-center{
  text-align: center !important;
}

.width-100{
  width: 100% !important;
}

.ACTIVE{
  color: #5DBA9D;
}

.CLOSED{
  color: #9e9e9e;
}

.dashboard_box_header_active{
  background-color: #5DBA9D;
  color: white;
}

.dashboard_box_header_closed{
  background-color: #9e9e9e;
}

.dashboard_box_header{
  padding: 5px;
  font-weight: 400;
}

.dashboard_box{
  float: left;
    width: 250px;
    height: 300px;
    margin: 0 10px 10px 0;
}

.dashboard_box_container_active{
  border: solid #5DBA9D;
  padding: 5px
}

.dashboard_box_container_close{
  border: solid #9e9e9e;
  padding: 5px
}
/*  workaround for bootstrap  */
.panel-default > a >.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    margin-bottom: 3px;
  }
