{% extends "dashboard.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12">
      <div class="white-box">
        <h1> {{ _('Edit Scenarios and Cases for project:')}} {{( g.project.name )}} </h1>
        <div class="row">
          <div class="col-md-6 scenarios_col">
            {% if g.scenarios %}
                {% for scenario in g.scenarios %}
              <div class="row display_item_box" id="tst_scenario_{{scenario.id}}">
              <div class="col-md-10" id="tst_scenario_{{scenario.id}}_value">
                 {{ scenario.name }}
              </div>
              <div class="col-md-2 edit_icons">

                <a id="current_test_scenario_{{scenario.id}}" class="hidden"
                   data-toggle="modal" data-target="#editScenario"
                   data-scenario-id="{{scenario.id}}" data-scenario-name="{{scenario.name}}"
                   data-scenario-url="{{url_for('scenarios.edit', project_id=g.project.id, scenario_id=scenario.id)}}">
                  <i id="current_icon_{{scenario.id}}" class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                </a>


                <a id="show_cases_for_scenario_{{scenario.id}}" onclick="show_tst_case({{scenario.id}},'{{url_for('scenarios.get_tst_cases', project_id=g.project.id, scenario_id=scenario.id)}}')">
                  <i id="show_icon_{{scenario.id}}"class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            </div>
              {% endfor %}
            {% endif %}

            <center> <a href="{{url_for('scenarios.new', project_id=g.project.id)}}"> <i class="fa fa-plus"></i>
            Add more cases </a> </center>
          </div>

          <div class="col-md-6 cases_col">
            <div id="edit_case_tip" class="display_item_box">
              Utilize o botão "<i class="fa fa-angle-double-right" aria-hidden="true"></i>" para carregar os casos de teste referentes ao cenário :)
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  <div class="clearfix hidden-sm-up"></div>
</div>


<!-- modals -->
<meta name="csrf-token" content="{{ csrf_token() }}">
<div class="modal fade" id="editScenario" tabindex="-1" role="dialog" aria-labelledby="editScenario">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ _('Edit Scenario')}}</h4>
      </div>
      <div class="modal-body">
        <form >
          <input type="text" id="input_edit_scenario_name">
          <p>
            <input type="hidden" id="edited_scenario_id">

          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
        <button type="button" class="btn btn-primary" onclick="edit_scenario()">{{_('Save changes') }}</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="editTstcase" tabindex="-1" role="dialog" aria-labelledby="editTstcase">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ _('Edit Test Case') }}</h4>
      </div>
      <div class="modal-body">
        <form >
          <input type="text" id="input_edit_case_name">
          <p>
            <input type="hidden" id="edited_case_id">
            <input type="hidden" id="edited_case_scenario_id">

          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
          <button type="button" class="btn btn-primary" onclick="edit_case()">{{_('Save changes') }}</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
