{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="signup">
  {{ form.hidden_tag() }}
  <div class="login-form white-box">
    <div class="login-inside-box">
      <img class="logo_login" src={{ url_for('static', filename = 'img/sherlock.png') }}>
 <br><br>
      {% include 'flash.html' %}

        {{ form.name(placeholder= _('Enter your Name') ) }}
        {% for error in form.name.errors %}
            <div class="error_msg">[{{ error }}]</div>
        {% endfor %}<br>

        {{ form.email(placeholder= _('Enter your Email') ) }}
        {% for error in form.email.errors %}
            <div class="error_msg">[{{ error }}]</div>
        {% endfor %}<br>

        {{ form.password(placeholder= _('Enter your Password'), type='password' ) }}
        {% for error in form.password.errors %}
            <div class="error_msg">[{{ error }}]</div>
        {% endfor %}<br>

        {{ form.confirm_password(placeholder= _('Confirm your Password'), type='password' ) }}
        {% for error in form.confirm_password.errors %}
            <div class="error_msg">[{{ error }}]</div>
        {% endfor %}<br>
        <div class="form-buttons">
          <p><input type="submit" class="button" value="{{ _('Sign Up!') }}"></p>
        </div>
    </div>
  </div>
</form>
{% endblock %}
