{% extends "base.html" %}
{% include 'menu.html' %}
{% include 'flash.html' %}
{% block content %}

<div class="row">
  <div class="col-md-8 white-box box_margin_dashboards">
    <h2> Bem vindo ao SherlockQA :) </h2> <br>

      Esta é uma versão alpha funcional da idéia inicial do Sherlock <br>

      Como não é uma versão final, não use em produção ainda! <br>

      Para usar o sherlock é simples:<br>
      <br>
      1 - Crie um projeto<br>
      2 - Crie Cenários e Casos de Teste para este projeto<br>
      3 - Crie um Ciclo para poder executar seus testes.<br>
      <br>
      :)<br>

      Para maiores informações:
      <a href="http://agiletesters.com.br"> agiletesters.com.br</a>


  </div>

{% endblock %}
