{% extends "base.html" %}
{% block content %}
<form action="" method="post" name="login">
  {{ form.hidden_tag() }}
  <div class="login-form white-box">
    <div class="login-inside-box">
      <img class="logo_login" src={{ url_for('static', filename = 'img/sherlock.png') }}>
 <br><br>
      {{ _('Welcome to Sherlock') }},<br>
      {{ _('sign in to continue') }}<br>
      {% include 'flash.html' %}
        {{ form.email(placeholder= _('Enter your Email') ) }}
        {% for error in form.email.errors %}
            <div class="error_msg">[{{ error }}]</div>
        {% endfor %}<br>

        {{ form.password(placeholder= _('Enter your Password'), type='password' ) }}
        {% for error in form.password.errors %}
            <div class="error_msg">[{{ error }}]</div>
        {% endfor %}<br>
        <div class="form-buttons">
          <p><input type="submit" class="button" value="{{ _('Sign In') }}"></p>
          {{ _('Dont have an account?') }} <a href="#todo">{{ _('Sign Up') }}</a>
        </div>
    </div>
  </div>
</form>
{% endblock %}
