{% extends "dashboard.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-4 col-sm-2"></div>
  <form action="" method="post" name="new">
    {{ form.hidden_tag() }}
    <div class="col-xs-10 col-sm-8 white-box">
      <h1>{{ _('New project') }} </h1>

      <div class="high-light-text">
        {{ _('Projects in sherlock are like containers for your test cenarios and cases.') }}
        {{ _('You can also define execution cyles for each project later.') }}
      </div>
      <br>
      {{ form.name(placeholder= _('Enter your project name') ) }}
      {% for error in form.name.errors %}
          <div class="error_msg">[{{ error }}]</div>
      {% endfor %}<br>

        <p>
          <input type="submit" class="button" value="{{ _('Create Project') }}">
        </p>

    </div>
  </form>
  <div class="clearfix hidden-sm-up"></div>
  <div class="col-xs-4 col-sm-2"></div>
</div>
{% endblock%}
