{% extends "dashboard.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-4 col-sm-2"></div>
    <div class="col-xs-10 col-sm-8 white-box">
      <h1>{{ g.project.name }} </h1>
      {% if g.project.no_scenarios %}
        <p>{{ _('Seems like you dont have any Scenario and Test Cases yet.')}} <br>
        {{ _('You could create them using the buttom below.')}}</p>
        <a class="button a-button" href="{{ url_for('scenarios.new', project_id=g.project.id )}}">
           {{ _('Create Test Scenario and Cases') }} </a>
      {% endif %}
    </div>
  <div class="clearfix hidden-sm-up"></div>
  <div class="col-xs-4 col-sm-2"></div>
</div>
{% endblock %}
